.menu {
  width: 95%;
  position: fixed;
  z-index: 22333;
  height: 60px;
  max-width: 500px;
  background: var(--white);
  left: 50%;
  transform: translateX(-50%);
  border-radius: 32px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  bottom: 20px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
  padding: 0 10px;
  font-size: 0.7rem;
  direction: rtl;
}
.menu .menu-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #313131;
  justify-content: center;
  gap: 5px;
}
.menu .menu-item svg {
  
  width: 25px;
  height: 25px;
}

.menu .main-menu-item {
  width: 45px;
  height: 45px;
  font-size: 3rem;
  
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;

  background: #000;
  color: var(--white);
}
