@import url('./font/stylesheet.css');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Vazir';
  list-style: none;
}
a {
  text-decoration: none;
}
:root {
  --orange: #647a6e;
  --sky-blue: #20c997;
  --black: rgb(36, 36, 36);
  --navy-blue:#282c34;
  --white:#fff;
}

